* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  min-width: 480px;
  background-color: #f9f9f9;
}
body .grid-container {
  display: grid;
  grid-template-columns: 0.7fr 1.7fr 0.9fr 0.7fr;
  grid-template-rows: 0.35fr 0.2fr 1.9fr 2fr 0.7fr 1fr 1fr;
  gap: 20px 20px;
  grid-template-areas: "header header header header" "sidebar1 header1 header1 sidebar2" "sidebar1 week slack sidebar2" "sidebar1 week chats sidebar2" "sidebar1 today chats sidebar2" "sidebar1 today chats sidebar2" "sidebar1 today tweets sidebar2";
}
body .grid-container .header {
  grid-area: header;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  border-bottom: solid 2px #f2f2f2;
}
body .grid-container .header .cabecera {
  width: 63%;
}
body .grid-container .header .cabecera .discover {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: solid 2px #f2f2f2;
  margin-top: 5px;
}
body .grid-container .header .cabecera .discover #logo {
  width: 50px;
}
body .grid-container .header .cabecera .discover .img_input {
  border: solid #f6f6f6;
  width: 85%;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .grid-container .header .cabecera .discover .img_input #search {
  width: 15px;
  height: 20px;
  margin-left: 5px;
}
body .grid-container .header .cabecera .discover .img_input #input_shearch {
  border: none;
  width: 100%;
}
body .grid-container .header .cabecera .discover p {
  margin-right: 10px;
  color: #b3b4b4;
}
body .grid-container .header .cabecera .navegador nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 3em;
  width: 100%;
}
body .grid-container .header .cabecera .navegador nav ul {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 100%;
}
body .grid-container .header .cabecera .navegador nav ul li:first-of-type {
  color: black;
  display: flex;
  background-color: #f9f9f9;
  height: 80%;
}
body .grid-container .header .cabecera .navegador nav ul li {
  list-style: none;
  color: #b3b4b4;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 17px 5px 17px;
}
body .grid-container .header .cabecera .navegador nav #flechas .flecha {
  width: 15px;
  height: 20px;
}
body .grid-container .header1 {
  grid-area: header1;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .grid-container .header1 .contenido {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 14px;
}
body .grid-container .header1 .contenido .welcome {
  font-weight: bold;
  margin-right: 5px;
}
body .grid-container .header1 .contenido .welcome .p_get {
  color: #b3b4b4;
  margin-left: 5px;
}
body .grid-container .header1 .contenido .welcome .p_get input {
  width: 100%;
  margin-left: 5px;
}
body .grid-container .header1 .contenido .welcome .p_get input .subscribe_add {
  color: #ffffff;
  background-color: #DA552F;
  border: none;
  border-radius: 2px;
  margin: 5px;
  padding: 5px;
  margin-right: 25px;
}
body .grid-container .header1 .contenido .welcome .p_get input .subscribe_add .cierre {
  width: 15px;
  margin-left: 50px;
}
body .grid-container .sidebar1 {
  grid-area: sidebar1;
}
body .grid-container .sidebar2 {
  grid-area: sidebar2;
}
body .grid-container .slack {
  grid-area: slack;
  border: solid 1px #f2f2f2;
  background-color: #ffffff;
}
body .grid-container .slack .subscribe_add {
  color: #ffffff;
  background-color: #DA552F;
  border: none;
  border-radius: 2px;
  margin: 5px;
  padding: 5px;
  margin-right: 25px;
}
body .grid-container .chats {
  border: solid 1px #f2f2f2;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 0.6fr 1.4fr;
  grid-template-rows: 0.8fr 1.1fr 1.1fr 1.1fr 1.1fr 1.1fr 0.7fr;
  gap: 0px 0px;
  grid-template-areas: "titulo_chats titulo_chats" "foto1 descripcion1" "foto2 descripcion2" "foto3 descripcion3" "foto4 descripcion4" "foto5 descripcion5" "more more";
  grid-area: chats;
}
body .grid-container .titulo_chats {
  grid-area: titulo_chats;
}
body .grid-container .foto1 {
  grid-area: foto1;
}
body .grid-container .foto2 {
  grid-area: foto2;
}
body .grid-container .foto3 {
  grid-area: foto3;
}
body .grid-container .foto4 {
  grid-area: foto4;
}
body .grid-container .foto5 {
  grid-area: foto5;
}
body .grid-container .more {
  grid-area: more;
}
body .grid-container .descripcion1 {
  grid-area: descripcion1;
}
body .grid-container .descripcion2 {
  grid-area: descripcion2;
}
body .grid-container .descripcion3 {
  grid-area: descripcion3;
}
body .grid-container .descripcion4 {
  grid-area: descripcion4;
}
body .grid-container .descripcion5 {
  grid-area: descripcion5;
}
body .grid-container .week {
  grid-area: week;
  border: solid 1px #f2f2f2;
  background-color: #ffffff;
}
body .grid-container .tweets {
  display: grid;
  border: solid 1px #f2f2f2;
  background-color: #ffffff;
  grid-template-columns: 0.8fr 1.8fr 0.4fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "titulo_tweets titulo_tweets titulo_tweets" "perfil descripcion0 scroll";
  grid-area: tweets;
}
body .grid-container .titulo_tweets {
  grid-area: titulo_tweets;
}
body .grid-container .perfil {
  grid-area: perfil;
}
body .grid-container .descripcion0 {
  grid-area: descripcion0;
}
body .grid-container .scroll {
  grid-area: scroll;
}
body .grid-container .today {
  display: grid;
  border: solid 1px #f2f2f2;
  background-color: #ffffff;
  grid-template-columns: 0.9fr 1.6fr 0.5fr;
  grid-template-rows: 0.5fr 1.2fr 1.2fr 1.1fr;
  gap: 0px 0px;
  grid-template-areas: "titulo_today titulo_today titulo_today" "imagen01 contenido01 telefono01" "imagen02 contenido02 telefono02" "imagen03 contenido03 telefono03";
  grid-area: today;
}
body .grid-container .titulo_today {
  grid-area: titulo_today;
}
body .grid-container .imagen01 {
  grid-area: imagen01;
}
body .grid-container .imagen02 {
  grid-area: imagen02;
}
body .grid-container .imagen03 {
  grid-area: imagen03;
}
body .grid-container .contenido01 {
  grid-area: contenido01;
}
body .grid-container .contenido02 {
  grid-area: contenido02;
}
body .grid-container .contenido03 {
  grid-area: contenido03;
}
body .grid-container .telefono01 {
  grid-area: telefono01;
}
body .grid-container .telefono02 {
  grid-area: telefono02;
}
body .grid-container .telefono03 {
  grid-area: telefono03;
}
body .grid-container .header {
  grid-area: header;
}

/*# sourceMappingURL=style.css.map */

/*# sourceMappingURL=style.css.map */
