$fondo:#f9f9f9;
$bordes: #f2f2f2;
$color_texto: #b3b4b4;

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  min-width: 480px;
  background-color: $fondo;  

  .grid-container {
    display: grid;
    grid-template-columns: 0.7fr 1.8fr 0.8fr 0.7fr;
    grid-template-rows: 0.48fr 0.2fr 1fr 1.2fr 1.8fr 1fr 1fr;
    gap: 20px 20px;
    grid-template-areas:
      "header header header header"
      "sidebar1 header1 header1 sidebar2"
      "sidebar1 week slack sidebar2"
      "sidebar1 week chats sidebar2"
      "sidebar1 today chats sidebar2"
      "sidebar1 today chats sidebar2"
      "sidebar1 today tweets sidebar2";

      .header {
        grid-area: header;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        position: fixed;
        width: 100%;
        border-bottom: solid 2px $bordes;
        .cabecera {
          width: 63%;

          .discover {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            border-bottom: solid 2px $bordes;
            margin-top: 5px;
              
            #logo {
              width: 50px;
            }
              .img_input {
                border: solid #f6f6f6;
                width: 85%;
                margin-right: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                #search{
                  width: 15px;
                  height: 20px;
                  margin-left: 5px;
                }
                #input_shearch {
                  border: none;
                  width: 100%;
                }
              }
              p{
                margin-right: 10px;
                color: $color_texto;
              }
            }
            .navegador{

              nav {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 3em;
                width: 100%;

                ul {
                  display: flex;
                  justify-content: start;
                  align-items: center;
                  height: 100%;

                  li:first-of-type{
                    color: black;
                    display: flex;
                    background-color: $fondo;
                    height: 80%;
                  }

                  li {
                    list-style: none;
                    color: #b3b4b4;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 5px 17px 5px 17px;
                  }
                }
                #flechas{
                  .flecha {
                    width: 15px;
                    height: 15px; 
                }
                }
              }
            }
        }
      }             
      .header1 {
        grid-area: header1;
        border: solid 1px $bordes;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .contenido{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          font-size: 14px;
          margin-left: 33px;
          .welcome{
            font-weight: bold;
            margin-right: 5px;
          }
          .p_get{
              color: #b3b4b4;
              margin-left: 5px;
          }
          input {
                margin: 5px 5px 5px 15px;
                padding: 4px;
          }
          .subscribe_add{
                  color: #ffffff;
                  background-color: #DA552F;
                  border: none;
                  border-radius: 2px;
                  margin: 5px;
                  padding: 8px;
                  margin-right: 52px;
                  font-size: 9px;
          }
          .cierre {
                    width: 15px;
                    margin-left: 30px;
          }
        }
      }
      .sidebar1{
        grid-area: sidebar1;
      }  
      .sidebar2{
        grid-area: sidebar2;
      }    

      .slack {
        grid-area: slack;
        border: solid 1px $bordes;
        background-color: #ffffff;
        padding:9%;
        .titulo_slack{
          display: flex;
          justify-content: space-between;
          align-items: center;

        h3{
          font: inherit;
          font-size: 18px;
        }
        .cierre{
          width: 15px;
          height: 15px;
        }
      }
        p{
          color: $color_texto;
          margin: 15px 0px 15px 0px;
        }
        .subscribe_add{
          color: #ffffff;
          background-color: #DA552F;
          border: none;
          border-radius: 2px;
          margin-right: 25px;
          width: 100%;
          font-size: 13px;
          height: 35px;
          margin: 15px 0px 15px 0px;
          strong{
            font-size: 15px;
          }
        }
      }
      
      .chats {
        border: solid 1px $bordes;
        background-color: #ffffff;
        padding:9%;
        display: grid;
        grid-template-columns: 0.6fr 1.4fr;
        grid-template-rows: 0.5fr 1.2fr 1.2fr 1.2fr 1.2fr 1.3fr 0.4fr;
        gap: 0px 0px;
        grid-template-areas:
          "titulo_chats titulo_chats"
          "foto1 descripcion1"
          "foto2 descripcion2"
          "foto3 descripcion3"
          "foto4 descripcion4"
          "foto5 descripcion5"
          "more more";
        grid-area: chats;
      }
      .titulo_chats {
        grid-area: titulo_chats;
        font-size: 12px;
        border-bottom: solid 1px $bordes;
        margin-bottom: 30px;
      }
      .foto1 {
        grid-area: foto1;
      }
      .descripcion1 {
        grid-area: descripcion1;
        p{
          color: $color_texto;
          font-size: 13px;
          margin-bottom: 10px;
        }
        button{
          margin-left: 10px;
        }
      }
      .foto2 {
        grid-area: foto2;
      }
      .descripcion2 {
        grid-area: descripcion2;
        p{
          color: $color_texto;
          font-size: 13px;
          margin-bottom: 10px;
        }
        button{
          margin-left: 10px;
        }
      }
      .foto3 {
        grid-area: foto3;
      }
      .descripcion3 {
        grid-area: descripcion3;
        p{
          color: $color_texto;
          font-size: 13px;
          margin-bottom: 10px;
        }
        button{
          margin-left: 10px;
        }
      }
      .foto4 {
        grid-area: foto4;
      }
      .descripcion4 {
        grid-area: descripcion4;
        p{
          color: $color_texto;
          font-size: 13px;
          margin-bottom: 10px;
        }
        button{
          margin-left: 10px;
        }
      }
      .foto5 {
        grid-area: foto5;
      }
      .descripcion5 {
        grid-area: descripcion5;
        p{
          color: $color_texto;
          font-size: 13px;
          margin-bottom: 10px;
        }
        button{
          margin-left: 10px;
        }
      }
      .more {
        grid-area: more;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        color: #DA552F;
        border-top: solid 1px $bordes;
      }
    
      
      

      .week {
        display: grid;
        border: solid 1px $bordes;
        padding: 3%;
        background-color: #ffffff;
        grid-template-columns: 0.5fr 2fr 0.5fr;
        grid-template-rows: 0.4fr 0.7fr 0.7fr 0.7fr 0.3fr;
        gap: 0px 0px;
        grid-template-areas:
          "titulo_week titulo_week titulo_week"
          "imagen1 contenido1 telefono1"
          "imagen2 contenido2 telefono2"
          "imagen3 contenido3 telefono3"
          "show_more show_more show_more";
        grid-area: week;
      }
      .titulo_week { 
        grid-area: titulo_week; 
        border-bottom: solid 2px $bordes;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 25px;
        h3{
          font: inherit;
          margin-bottom: 15px;
        }
        img{
          width: 15px;
          height: 15px;
          margin-bottom: 15px;
        }
      }
      .imagen1 { 
        grid-area: imagen1;
        border-bottom: solid 1px $bordes;
      }
      .contenido1 { 
        grid-area: contenido1; 
        border-bottom: solid 1px $bordes;
        h4{
          font: inherit;
          font-size: 18px;
          margin-bottom: 8px;
        }
        .paragrafo{
          color: $color_texto;
          margin: 5px 0px 10px 0px;
          font-size: 13px;
        }
        .interaccion{
          display: flex;

        .ranking{
          border: solid $bordes 1px;
          width: 18%;
          display: flex;
          border-radius: 2px;
          margin-right: 10px;
        }
        .comments{
          border: solid $bordes 1px;
          width: 17%;
          display: flex;
          border-radius: 2px;
          justify-content: center;
          align-items: center;
        
        img{
          width: 13px;
          height: 13px;
          margin: 0px 8px 0px 8px;
        }
        p{
          color: $color_texto;
        }
      }
    }
      }
      .telefono1 { 
        grid-area: telefono1; 
        display: flex;
        justify-content: center;
        align-items: flex-end;
        font-size: 13px;
        border-bottom: solid 1px $bordes;
        padding-bottom: 20px;
        .movil{
          border: solid 1px $bordes;
          background-color: $bordes;
          border-radius: 2px;
          padding: 2px;
          margin-right: 5px;
        }
        .cantidad{
          color: $color_texto;
          padding: 2px;
        }
      }
      .imagen2 { 
        grid-area: imagen2; 
        border-bottom: solid 1px $bordes;
        margin-top: 20px;
      }

      .contenido2 { 
        grid-area: contenido2; 
        border-bottom: solid 1px $bordes;
        margin-top: 20px;
        h4{
          font: inherit;
          font-size: 18px;
          margin-bottom: 8px;
        }
        .paragrafo{
          color: $color_texto;
          margin: 5px 0px 10px 0px;
          font-size: 13px;
        }
        .interaccion{
          display: flex;

        .ranking{
          border: solid $bordes 1px;
          width: 18%;
          display: flex;
          border-radius: 2px;
          margin-right: 10px;
        }
        .comments{
          border: solid $bordes 1px;
          width: 17%;
          display: flex;
          border-radius: 2px;
          justify-content: center;
          align-items: center;
        
        img{
          width: 13px;
          height: 13px;
          margin: 0px 8px 0px 8px;
        }
        p{
          color: $color_texto;
        }
      }
      .position{
        width: 30%;
        display: flex;
        img{
          width: 15px;
          height: 15px;
          margin-left: 15px;
          margin-right: 5px;
        }
        p{
          font-size: 13px;
          color: $color_texto;
        }
      }
    }
  }
      .telefono2 { 
        grid-area: telefono2; 
        border-bottom: solid 1px $bordes;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        font-size: 13px;
        border-bottom: solid 1px $bordes;
        padding-bottom: 20px;
        .movil{
          border: solid 1px $bordes;
          background-color: $bordes;
          border-radius: 2px;
          padding: 2px;
          margin-right: 5px;
        }
        .cantidad{
          color: $color_texto;
          padding: 2px;
        }
      }
    
      
      .imagen3 { 
        grid-area: imagen3; 
        margin-top: 20px;
      }
      .contenido3 { 
        grid-area: contenido3;
        margin-top: 20px;
        h4{
          font: inherit;
          font-size: 18px;
          margin-bottom: 8px;
        }
        .paragrafo{
          color: $color_texto;
          margin: 5px 0px 10px 0px;
          font-size: 13px;
        }
        .interaccion{
          display: flex;
        .ranking{
          border: solid $bordes 1px;
          width: 18%;
          display: flex;
          border-radius: 2px;
          margin-right: 10px;
        }
        .comments{
          border: solid $bordes 1px;
          width: 17%;
          display: flex;
          border-radius: 2px;
          justify-content: center;
          align-items: center;
        
        img{
          width: 13px;
          height: 13px;
          margin: 0px 8px 0px 8px;
        }
        p{
          color: $color_texto;
        }
      }
    }
      }
      .telefono3 { 
        grid-area: telefono3; 
        display: flex;
        justify-content: center;
        align-items: flex-end;
        font-size: 13px;
        padding-bottom: 20px;
        .movil{
          border: solid 1px $bordes;
          background-color: $bordes;
          border-radius: 2px;
          padding: 2px;
          margin-right: 5px;
        }
        .cantidad{
          color: $color_texto;
          padding: 2px;
        }
      }

      .show_more { 
        grid-area: show_more; 
        display: flex;
        justify-content: center;
        align-items: flex-end;
        color: $color_texto;
        font-size: 15px;
      }

        .tweets {
          display: grid;
          border: solid 1px $bordes;
          padding:9%; 
          background-color: #ffffff; 
          grid-template-columns: 0.8fr 1.8fr 0.4fr;
          grid-template-rows: 0.7fr 1.3fr;
          gap: 0px 0px;
          grid-template-areas:
            "titulo_tweets titulo_tweets titulo_tweets"
            "perfil descripcion0 scroll";
          grid-area: tweets;
        }
        .titulo_tweets { 
          grid-area: titulo_tweets; 
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          margin-bottom: 10px;
          border-bottom: solid 1px $bordes;
          h3{
            font: inherit;
            font-size: 22px;
            margin-right: 5px;
          }
          .text_gris{
            color: $color_texto;
          }
          .product{
            margin-bottom: 15px;
          }
        }
        .perfil { 
          grid-area: perfil; 
        }
        .descripcion0 { 
          grid-area: descripcion0; 
          .ask{
            margin-top: 15px;

          }
          .text_gris{
            color: $color_texto;
          }
        }
        .scroll { 
          grid-area: scroll; 
        }

        .today {
          display: grid;
          padding: 3%;
          border: solid 1px $bordes;
          background-color: #ffffff;
          grid-template-columns: 0.6fr 1.9fr 0.5fr;
          grid-template-rows: 0.3fr 0.7fr 0.7fr 1.9fr;
          gap: 0px 0px;
          grid-template-areas:
            "titulo_today titulo_today titulo_today"
            "imagen01 contenido01 telefono01"
            "imagen02 contenido02 telefono02"
            "imagen03 contenido03 telefono03";
          grid-area: today;
        }
        .titulo_today { 
          grid-area: titulo_today;
          border-bottom: solid 2px $bordes;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 25px;
          h3{
          font: inherit;
          font-size: 18px;
          } 
        }
        .imagen01 { 
          img{
            width: 80px;
            height: 80px;
          }
          grid-area: imagen01; 
          border-bottom: solid 1px $bordes;
          margin-top: 20px;
        }
        .contenido01 { 
          grid-area: contenido01; 
          border-bottom: solid 1px $bordes;
          margin-top: 20px;
        h4{
          font: inherit;
          font-size: 18px;
          margin-bottom: 8px;
        }
        .paragrafo{
          color: $color_texto;
          margin: 5px 0px 10px 0px;
          font-size: 13px;
        }
        .interaccion{
          display: flex;

        .ranking{
          border: solid $bordes 1px;
          width: 18%;
          display: flex;
          border-radius: 2px;
          margin-right: 10px;
        }
        .comments{
          border: solid $bordes 1px;
          width: 17%;
          display: flex;
          border-radius: 2px;
          justify-content: center;
          align-items: center;
        
        img{
          width: 13px;
          height: 13px;
          margin: 0px 8px 0px 8px;
        }
        p{
          color: $color_texto;
        }
      }
      .position{
        width: 30%;
        display: flex;
        img{
          width: 15px;
          height: 15px;
          margin-left: 15px;
          margin-right: 5px;
        }
        p{
          font-size: 13px;
          color: $color_texto;
        }
      }
    }
  }
        .telefono01 { 
          grid-area: telefono01; 
          display: flex;
          justify-content: center;
          align-items: flex-end;
          font-size: 13px;
          border-bottom: solid 1px $bordes;
          padding-bottom: 20px;
          .movil{
          border: solid 1px $bordes;
          background-color: $bordes;
          border-radius: 2px;
          padding: 2px;
          margin-right: 5px;
        }
        .cantidad{
          color: $color_texto;
          padding: 2px;
        }
      }
        }

        .imagen02 { 
          border-bottom: solid 1px $bordes;
          grid-area: imagen02; 
          margin-top: 20px;
          img{
            width: 80px;
            height: 80px;
          }
        }
        .contenido02 { 
          grid-area: contenido02; 
          border-bottom: solid 1px $bordes;
          margin-top: 20px;
        h4{
          font: inherit;
          font-size: 18px;
          margin-bottom: 8px;
        }
        .paragrafo{
          color: $color_texto;
          margin: 5px 0px 10px 0px;
          font-size: 13px;
        }
        .interaccion{
          display: flex;

        .ranking{
          border: solid $bordes 1px;
          width: 18%;
          display: flex;
          border-radius: 2px;
          margin-right: 10px;
        }
        .comments{
          border: solid $bordes 1px;
          width: 17%;
          display: flex;
          border-radius: 2px;
          justify-content: center;
          align-items: center;
        
        img{
          width: 13px;
          height: 13px;
          margin: 0px 8px 0px 8px;
        }
        p{
          color: $color_texto;
        }
      }
    }
  }
        .telefono02 { 
          grid-area: telefono02; 
          display: flex;
          justify-content: center;
          align-items: flex-end;
          font-size: 13px;
          border-bottom: solid 1px $bordes;
          padding-bottom: 20px;
          .movil{
          border: solid 1px $bordes;
          background-color: $bordes;
          border-radius: 2px;
          padding: 2px;
          margin-right: 5px;
          width: 110px;
        }
        .cantidad{
          color: $color_texto;
          padding: 2px;
        }
      }
        }

        .imagen03 { 
          grid-area: imagen03; 
          margin-top: 20px;
          img{
            width: 80px;
            height: 80px;
          }
        }
        .contenido03 { 
          grid-area: contenido03; 
          margin-top: 20px;          
        h4{
          font: inherit;
          font-size: 18px;
          margin-bottom: 8px;
        }
        .paragrafo{
          color: $color_texto;
          margin: 5px 0px 10px 0px;
          font-size: 13px;
        }
        .interaccion{
          display: flex;

        .ranking{
          border: solid $bordes 1px;
          width: 18%;
          display: flex;
          border-radius: 2px;
          margin-right: 10px;
        }
        .comments{
          border: solid $bordes 1px;
          width: 17%;
          display: flex;
          border-radius: 2px;
          justify-content: center;
          align-items: center;
        
        img{
          width: 13px;
          height: 13px;
          margin: 0px 8px 0px 8px;
        }
        p{
          color: $color_texto;
        }
      }
    }
  
        .telefono03 { grid-area: telefono03; }
    }

/*# sourceMappingURL=style.css.map */