$fondo:#f9f9f9;
$bordes: #f2f2f2;
$color_texto: #b3b4b4;

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  min-width: 480px;
  background-color: $fondo;  

  .grid-container {
    display: grid;
    grid-template-columns: 0.7fr 1.7fr 0.9fr 0.7fr;
    grid-template-rows: 0.48fr 0.2fr 1.9fr 2fr 0.7fr 1fr 1fr;
    gap: 20px 20px;
    grid-template-areas:
      "header header header header"
      "sidebar1 header1 header1 sidebar2"
      "sidebar1 week slack sidebar2"
      "sidebar1 week chats sidebar2"
      "sidebar1 today chats sidebar2"
      "sidebar1 today chats sidebar2"
      "sidebar1 today tweets sidebar2";

      .header {
        grid-area: header;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        position: fixed;
        width: 100%;
        border-bottom: solid 2px $bordes;
        .cabecera {
          width: 63%;

          .discover {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            border-bottom: solid 2px $bordes;
            margin-top: 5px;
              
            #logo {
              width: 50px;
            }
              .img_input {
                border: solid #f6f6f6;
                width: 85%;
                margin-right: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                #search{
                  width: 15px;
                  height: 20px;
                  margin-left: 5px;
                }
                #input_shearch {
                  border: none;
                  width: 100%;
                }
              }
              p{
                margin-right: 10px;
                color: $color_texto;
              }
            }
            .navegador{

              nav {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                height: 3em;
                width: 100%;

                ul {
                  display: flex;
                  justify-content: start;
                  align-items: center;
                  height: 100%;

                  li:first-of-type{
                    color: black;
                    display: flex;
                    background-color: $fondo;
                    height: 80%;
                  }

                  li {

                    list-style: none;
                    color: #b3b4b4;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 5px 17px 5px 17px;
                  }
                }
                #flechas{

                  .flecha {
                    width: 15px;
                    height: 20px; 
                }
                }
              }
            }
        }
      }             
      .header1 {
        grid-area: header1;
        border: solid 1px $bordes;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        

        .contenido{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          font-size: 14px;
          .welcome{
            font-weight: bold;
            margin-right: 5px;
            .p_get{
              color: #b3b4b4;
              margin-left: 5px;
              input {
                width: 100%;
                margin-left: 5px;
                .subscribe_add{
                  color: #ffffff;
                  background-color: #DA552F;
                  border: none;
                  border-radius: 2px;
                  margin: 5px;
                  padding: 5px;
                  margin-right: 25px;
                  .cierre {
                    width: 15px;
                    margin-left: 50px;
                  }
                }
              }
            }  
          } 
        }
      }
      .sidebar1{
        grid-area: sidebar1;
      }  
      .sidebar2{
        grid-area: sidebar2;
      }    

      .slack {
        grid-area: slack;
        border: solid 1px $bordes;
        background-color: #ffffff;
        h3{}
        .cierre{}
        p{}
        .subscribe_add{
          color: #ffffff;
          background-color: #DA552F;
          border: none;
          border-radius: 2px;
          margin: 5px;
          padding: 5px;
          margin-right: 25px;
        }
      }
      
      .chats {
        border: solid 1px $bordes;
        background-color: #ffffff;
        display: grid;
        grid-template-columns: 0.6fr 1.4fr;
        grid-template-rows: 0.8fr 1.1fr 1.1fr 1.1fr 1.1fr 1.1fr 0.7fr;
        gap: 0px 0px;
        grid-template-areas:
          "titulo_chats titulo_chats"
          "foto1 descripcion1"
          "foto2 descripcion2"
          "foto3 descripcion3"
          "foto4 descripcion4"
          "foto5 descripcion5"
          "more more";
        grid-area: chats;
      }
      .titulo_chats {
        grid-area: titulo_chats;
      }
      .foto1 {
        grid-area: foto1;
      }
      .foto2 {
        grid-area: foto2;
      }
      .foto3 {
        grid-area: foto3;
      }
      .foto4 {
        grid-area: foto4;
      }
      .foto5 {
        grid-area: foto5;
      }
      .more {
        grid-area: more;
      }
      .descripcion1 {
        grid-area: descripcion1;
      }
      .descripcion2 {
        grid-area: descripcion2;
      }
      .descripcion3 {
        grid-area: descripcion3;
      }
      .descripcion4 {
        grid-area: descripcion4;
      }
      .descripcion5 {
        grid-area: descripcion5;
      }

      .week {
        display: grid;
        border: solid 1px $bordes;
        padding: 3%;
        background-color: #ffffff;
        grid-template-columns: 0.5fr 1.6fr 0.5fr;
        grid-template-rows: 0.4fr 1.4fr 1.4fr 1.4fr 0.3fr;
        gap: 0px 0px;
        grid-template-areas:
          "titulo_week titulo_week titulo_week"
          "imagen1 contenido1 telefono1"
          "imagen2 contenido2 telefono2"
          "imagen3 contenido3 telefono3"
          "show_more show_more show_more";
        grid-area: week;
      }
      .titulo_week { 
        grid-area: titulo_week; 
        border-bottom: solid 2px $bordes;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 25px;
        h3{
          font: inherit;
          margin-bottom: 15px;
        }
        img{
          width: 15px;
          height: 15px;
          margin-bottom: 15px;
        }
      }
      .imagen1 { grid-area: imagen1; }
      .contenido1 { grid-area: contenido1; }
      .telefono1 { 
        grid-area: telefono1; 
      }
      .imagen2 { grid-area: imagen2; }
      .contenido2 { grid-area: contenido2; }
      .telefono2 { grid-area: telefono2; }
      .imagen3 { grid-area: imagen3; }
      .contenido3 { grid-area: contenido3; }
      
      .telefono3 { grid-area: telefono3; }
      .show_more { grid-area: show_more; }

        .tweets {
          display: grid;
          border: solid 1px $bordes;
          background-color: #ffffff; 
          grid-template-columns: 0.8fr 1.8fr 0.4fr;
          grid-template-rows: 1fr 1fr;
          gap: 0px 0px;
          grid-template-areas:
            "titulo_tweets titulo_tweets titulo_tweets"
            "perfil descripcion0 scroll";
          grid-area: tweets;
        }
        .titulo_tweets { grid-area: titulo_tweets; }
        .perfil { grid-area: perfil; }
        .descripcion0 { grid-area: descripcion0; }
        .scroll { grid-area: scroll; }

        .today {
          display: grid;
          border: solid 1px $bordes;
          background-color: #ffffff;
          grid-template-columns: 0.9fr 1.6fr 0.5fr;
          grid-template-rows: 0.5fr 1.2fr 1.2fr 1.1fr;
          gap: 0px 0px;
          grid-template-areas:
            "titulo_today titulo_today titulo_today"
            "imagen01 contenido01 telefono01"
            "imagen02 contenido02 telefono02"
            "imagen03 contenido03 telefono03";
          grid-area: today;
        }
        .titulo_today { grid-area: titulo_today; }
        .imagen01 { grid-area: imagen01; }
        .imagen02 { grid-area: imagen02; }
        .imagen03 { grid-area: imagen03; }
        .contenido01 { grid-area: contenido01; }
        .contenido02 { grid-area: contenido02; }
        .contenido03 { grid-area: contenido03; }
        .telefono01 { grid-area: telefono01; }
        .telefono02 { grid-area: telefono02; }
        .telefono03 { grid-area: telefono03; }
        .header { grid-area: header; }

  } 
}

/*# sourceMappingURL=style.css.map */