@media (max-width: 575px){
    .grid-container{
        grid-template-areas:
        "header header"
        "week week"
        "today today";
    }
    .slack{
        visibility: hidden;
        display: none;
    }
    .chats{
        visibility: hidden;
    }
    .header1{
        visibility: hidden;
    }
    
    
}

